services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        TZ: ${TZ}
    depends_on:
      - redis
      - postgres
    ports:
      - '${APP_EXT_PORT}:8080'
    volumes:
      - .:/var/www/html:cached
    restart: always

  redis:
    image: 'redis:alpine'
    logging:
      options:
        max-size: 50m
    restart: always
    volumes:
      - redis:/data

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    volumes:
      - alpin_db:/var/lib/postgresql/data
    ports:
      - ${EXT_DB_PORT}:5432
    restart: always

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
  alpin_db: ~
  redis: ~
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
